{% extends 'base.html' %}
{% block books %}
  <div>
    {{form.as_p}}
    <h2>search books</h2>
    {% for field in searching_field_list %}
      <div>
        <span>{{field.name}}</span>
      </div>
    {% endfor %}
  </div>
  <table class="book_list_table">
    <tr>
        {% for field in table_field_list %}
        <th class="{{field}} fix_th">{{field}}</th>
        {% endfor %}
    </tr>
    <tbody>
      {% for row in page_items %}
      <tr>
        {% for value in row %}
          <td>{{value}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock books %}