{% extends 'base.html' %}
{% block books %}
<form method="GET" action="{{request.path}}">
  <div>
    <span class="inblock">deal type</span>{{model_form.deal_type}}
    <span class="inblock">{{model_form.status.name}}</span>{{model_form.status}}
  </div>
  <div>
    <span class="inblock">{{model_form.address.name}}</span>{{model_form.address}}
  </div>
  <div id="div_price" style="display:none;">
    <span class="inblock">{{model_form.price.name}}</span>{{model_form.price}}
  </div>  
  <div>
    <span class="inblock">{{model_form.premium.name}}</span>{{model_form.premium}}
  </div>
  <div>
    <span class="inblock">{{model_form.deposit.name}}</span>{{model_form.deposit}}
    <span class="inblock">{{model_form.month_fee.name}}</span>{{model_form.month_fee}}
  </div>
  <div>
    <span class="inblock">{{model_form.area_ex.name}}</span>{{model_form.area_ex}}
    <span class="inblock">{{model_form.area_land.name}}</span>{{model_form.area_land}}
  </div>
  <div>
    <span class="inblock">{{model_form.land_type.name}}</span>{{model_form.land_type}}
  </div>
  <div>
    <span class="inblock">{{model_form.birth.name}}</span>{{model_form.birth}}
  </div>
  <div>
    {% if model_form.room %}
    <span class="inblock" name="room">{{model_form.room.name}}</span>
    <input type="checkbox" name="room1" id="room_one" {% if request.GET.room1 %}checked{% endif %}><label for="room_one">one</label>
    <input type="checkbox" name="room2" id="room_two" {% if request.GET.room2 %}checked{% endif %}><label for="room_two">two</label>
    <input type="checkbox" name="room3" id="room_three" {% if request.GET.room3 %}checked{% endif %}><label for="room_three">theee +</label>
    {% endif %}
    <span class="inblock">{{model_form.bath.name}}</span>{{model_form.bath}}
  </div>
  <div>
    {{model_form.loanable}}<label for="id_loanable" class="inblock">{{model_form.loanable.name}}</label>
    {{model_form.elevator}}<label for="id_elevator" class="inblock">{{model_form.elevator.name}}</label>
    {{model_form.parking}}<label for="id_parking" class="inblock">{{model_form.parking.name}}</label>
    {{model_form.empty}}<label for="id_empty" class="inblock">{{model_form.empty.name}}</label>
    {{model_form.pet}}<label for="id_pet" class="inblock">{{model_form.pet.name}}</label>
  </div>
  <div>
    <span class="inblock">{{model_form.owner.name}}</span>{{model_form.owner}}
    <span class="inblock">{{model_form.tenant.name}}</span>{{model_form.tenant}}
  </div>
  <div>
    <span class="inblock">{{model_form.description.name}}</span>{{model_form.description}}
  </div>
  <button>Search</button>
</form>
<hr>
<table class="book_list_table">
  <tr>
    {% for field in table_field_list %}
    <th class="{{field}} fix_th">{{field}}</th>
    {% endfor %}
  </tr>
  <tbody>
    {% for row in page_items %}
    <tr>
      {% for value in row %}
      <td>{{value}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock books %}